html {
    font-size: 62.5%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar-light .navbar-brand,
.mec-wrap {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: $primary;
}

.navbar-brand {
    font-size: 2.4rem;
}

.menu-item {
    font-size: 1.8rem;
    padding-right: 2.2rem;
}

a:hover,
.btn,
.navbar-light .navbar-brand,
.navbar-light .navbar-brand a,
.navbar-light .navbar-nav .nav-link {
    color: $primary;
}

.btn-secondary {
    color: $white;

    &:hover {
        color: $alt;
    }
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand a:focus,
.navbar-light .navbar-brand a:hover {
    color: $primary;
    text-decoration: none;
}

.navbar-light {
    .navbar-nav {
        .show > .nav-link,
        .active > .nav-link,
        .nav-link.show,
        .nav-link.active {
            color: rgba($primary, 0.9);
        }
    }
}

.dropdown-item {
    color: $white;

    @include hover-focus {
        color: rgba($white, 0.9);
        background-color: darken($primary, 5%);
    }
}

.dropdown-menu {
    background-color: $primary;

    .menu-item {
        padding-right: 0;
    }
}

// Homepage Hero
.hero {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 16vh;
    padding-top: 8vh;

    .container {
        display: flex;
        flex-direction: column;
    }

    h1 {
        color: $white;
        font-size: 3.2rem;
        letter-spacing: 9px;
        line-height: 1.1;
        text-transform: uppercase;

        @include media-breakpoint-up(lg) {
            font-size: 7rem;
        }
    }

    p {
        color: $white;

        @include media-breakpoint-up(md) {
            max-width: 33vw;
        }
    }

    p,
    .btn {
        font-size: 1.8rem;
        line-height: 1.5;
    }

    .btn {
        align-self: flex-start;
        color: $primary;
        text-transform: uppercase;
        @extend .btn-primary;
        background-color: $white;
        border-color: $white;
        border-radius: 2.5rem;
        margin-top: 5rem;
    }
}

// Default Header
.header-hero {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 18vh;
    padding-top: 16vh;

    h1 {
        color: $white;
        font-size: 2.2rem;
        line-height: 1.1;
        text-transform: uppercase;

        @include media-breakpoint-up(lg) {
            font-size: 4rem;
        }
    }
}

.welcome {
    border-left: 5px solid $primary;
    padding: 1.5rem 1.5rem 1.5rem 2rem;
    background: #fff;

    h2 {
        font-size: 2.6rem;
    }

    p {
        font-size: 1.8rem;
        line-height: 1.5;
        margin-bottom: 0.5em;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.mec-wrap {
    background: #fff;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

.mec-wrap + .row .btn {
    display: block;
    margin-bottom: 1.5rem;

    @include media-breakpoint-up(md) {
        display: inline-block;
    }
}

.events {
    h2 {
        margin: 4rem auto;
        font-size: 2.6rem;
    }

    .btn {
        font-size: 1.7rem;
    }
}

.event-color {
    display: none !important;
}

.mec-color,
.mec-color-before :before,
.mec-color-hover:hover,
.mec-wrap .mec-color,
.mec-wrap .mec-color-before :before,
.mec-wrap .mec-color-hover:hover,
.mec-event-list-standard .mec-event-title a,
.mec-event-list-standard .mec-event-meta span.mec-event-d,
.mec-event-list-standard .mec-event-meta span.mec-event-m,
.entry-content .mec-wrap h1,
.entry-content .mec-wrap h2,
.entry-content .mec-wrap h3,
.entry-content .mec-wrap h4,
.entry-content .mec-wrap h5,
.entry-content .mec-wrap h6,
.mec-wrap h1,
.mec-wrap h2,
.mec-wrap h3,
.mec-wrap h4,
.mec-wrap h5,
.mec-wrap h6 {
    color: $primary !important;
}

.mec-bg-color-hover:hover,
.mec-border-color-hover:hover {
    color: $white !important;
    background-color: $secondary !important;
    border-color: $secondary !important;
}

.divider-btm {
    background-image: url(../img/curve.svg);
    background-size: 250% 10vw;
    height: 10vw;
    transform: rotateX(180deg);
    margin-bottom: -2px;
}

#wrapper-footer-full {
    background: transparent;
}

.footer-main {
    background-color: $secondary;
    background-image: linear-gradient(
            180deg,
            $secondary 0%,
            rgba($secondary, 0) 100%
        ),
        url(../img/footer-bg.png);
    background-position: center;
    background-size: cover;
    padding: 15vh 0 10vh;

    .widget-title {
        color: $white;
    }

    ul {
        padding-left: 1em;
    }

    p,
    li {
        color: #fff;
        font-size: 1.5rem;
    }

    a {
        color: $white;

        &:hover {
            color: rgba($white, 0.95);
        }
    }

    .mec-widget .mec-event-list-classic .mec-event-article {
        padding: 0;
        min-height: auto;
    }

    .mec-color,
    .mec-color-before :before,
    .mec-color-hover:hover,
    .mec-wrap .mec-color,
    .mec-wrap .mec-color-before :before,
    .mec-wrap .mec-color-hover:hover,
    .mec-event-list-classic .mec-event-title a,
    .mec-event-list-standard .mec-event-title a,
    .mec-event-list-standard .mec-event-meta span.mec-event-d,
    .mec-event-list-standard .mec-event-meta span.mec-event-m,
    .entry-content .mec-wrap h1,
    .entry-content .mec-wrap h2,
    .entry-content .mec-wrap h3,
    .entry-content .mec-wrap h4,
    .entry-content .mec-wrap h5,
    .entry-content .mec-wrap h6,
    .mec-wrap h1,
    .mec-wrap h2,
    .mec-wrap h3,
    .mec-wrap h4,
    .mec-wrap h5,
    .mec-wrap h6 {
        color: $white !important;
    }

    .mec-widget .mec-event-list-classic .mec-event-title,
    .btn {
        font-size: 1.6rem;
    }

    .mec-widget .mec-event-list-classic .mec-event-date {
        font-size: 1.4rem;
    }
}

// Halls
.details {
    background-color: white;
    padding-top: 1.5rem;

    .col-md-2 {
        @include media-breakpoint-up(md) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    ul {
        padding-left: 1rem;
    }

    li {
        font-size: 1.6rem;
    }

    .btn {
        color: #fff;
        font-size: 1.5rem;
    }
}

.thumbnail img {
    border: 1px solid $primary;
    padding: 2px;
    margin: 0 1% 1rem 0;

    @include media-breakpoint-up(md) {
        width: 31.6667%;
    }

    display: inline-block;

    &:nth-of-type(3n + 3) {
        margin-right: 0;
    }
}

.site-main {
    h2 {
        @include media-breakpoint-up(md) {
            font-size: 2.4rem !important;
        }
    }

    h3 {
        @include media-breakpoint-up(md) {
            font-size: 2rem !important;
        }
        margin-bottom: 1.5rem;
    }
    p,
    li {
        font-size: 1.6rem;
    }

    a[href^='mailto'] {
        text-decoration: underline;
    }

    .entry-content {
        background: #fff;
        padding: 1.5rem;
    }

    .widget-area {
        background: #fff;
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;

        .widget {
            margin-bottom: 1.5rem;
            padding-bottom: 1.5rem;
            border-bottom: 1px solid $alt;
        }

        .submit,
        .btn-primary {
            color: #fff !important;
            font-size: 1.5rem;
        }
    }

    .widget_search {
        padding-bottom: 1.5rem;

        .form-control {
            font-size: 1.5rem;
        }
    }
}

.site-info {
    font-size: 1.5rem;
    color: $white;

    .copy {
        display: block;
        margin-bottom: 1.5rem;

        @include media-breakpoint-up(md) {
            display: inline;
        }
    }

    .sep {
        padding: 0 0.3em;
        display: none;

        @include media-breakpoint-up(md) {
            display: inline;
        }
    }
}

.post-3 {
    table {
        border: 1px solid $primary;
        margin: 1rem 0;
        border-collapse: collapse;
    }

    td {
        font-size: 1.5rem;
        vertical-align: top;
        line-height: 1.7;
        padding: 5px;
        width: 25%;
        border: 1px solid $primary;

        &:last-child {
            width: 50%;
        }
    }
}
